:root {
--cor-de-fundo:#285526;
--verde:#6fff57;
--branco:#ffffff;
--botao-ativo:#3a375e;
--botao-inativo:#f70c0c;
--texto-fundo:#fffb00;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 50px;
}